@forward "base";
@forward "reset";
@forward "root";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  gap: 1rem; 

  &__title {
    width: 12ch;
  }

  &__description {
    width: 50ch;
  }
}
